*{
    box-sizing: border-box;
}
body{
    z-index: 0;
    background-image: linear-gradient(#005AA7,#FFFDE4);
}
header{
    position: relative;
    margin: 2%;
    width: 96%;
    text-align: center;
}

.container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 98%;
    height: 70%;
    margin: 0;
    
    
}
.left{
    order: 1;
}
.right{
    order: 3;
}
i:hover{
    cursor: pointer;
    color: rgb(68, 64, 64);
}
.image-container{
    position: relative;
    width: 50%;
    order: 2;
}
img{
    width: 100%;
    display: none;
    border-radius: 10px;
    transition: display linear 2s;
}
img:hover{
    opacity: 0.8;
    cursor: pointer;
}
img.active{
    display: block;
}
.fullScr{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}
.fullScr .image-container{
    width: 90%;
    height: 90%;
}
.fullScr .image-container img{
    width: 100%;
    height: 100%;
}
.fullScr img:hover{
    opacity: 1;
}
.fullScr .arrow{
    color: white;
}
#close {
    display: none;
    padding:5px;
    color: white;
    z-index: 2  ;
    position: fixed;
    top: 0;
    right: 0;
}
.fullScr #close{
    display: block;
}